<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>header</title>
  <link rel="stylesheet" href="styles/header.css">
</head>
<body>
  <div class="headerBody">
    <div class="left">
      <a class="superHuge" href="/">Home</a>
      <a href="/about">About Me</a>
      <a href="/contact">Contact Me</a>
      <a href="/write">Write new Blog</a>
    </div>

  </div>
</body>
</html>