<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <%- include("partials/header.ejs") %>

  <section style="display: flex; align-items: center; justify-content: center;">
  <h1 style="font-size: 2rem;">Blog is successfully updated</h1>
</section>
<%- include("partials/footer.ejs") %>

</body>
</html>