body{
  font-family: "Roboto";
}

.headerBody{
  height: 56px;
  display: flex;
  align-items: center;
}

.headerBody .left {
  width: 30vw;
  display: flex;
  justify-content: space-evenly;
}

.headerBody a{
  text-decoration: none;
  color: #7286D3;
}